*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-image: url(./acets/depositphotos_237885306-stock-photo-alpine-lake-klontalersee-in-klontal.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-color: #121214;
}

body * {
    font-family: 'inter', sans-serif;
    line-height: 160%;
}
ul{list-style: none;}


main{
    margin-top: 32px;
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

section{
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;

}

section div{
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2{
    letter-spacing: -0.47px;
    

}
section p{
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul{
    margin-top: 24px;
    flex-wrap: wrap;
    gap: 16px;
}

ul{
    display: flex;
    gap: 16px;
}

ul li{
    transition: transform .3s;

}

ul li:hover{
    transform: scale(1.1);
}

.games-list img{
    border-radius: 8px;
    width: 90px;

}

.channel-list img{
    border-radius: 8px;
    width: 90px;
}

.social-list img{
    border-radius: 8px;
    width: 90px;
}

/*Animação*/ 

header div{
animation: Fromtop .7s .2s backwards;

}

@keyframes Fromtop{
    from{ transform: translateY(-30px);
        opacity: 0;

    }

    to{
        transform: translateY(0);
        opacity: 1;

    }
}

@keyframes FromLeft{
    from{ transform: translateX(-32px);
        opacity: 0;
    

    }
        
    to{
        transform: translateX(0);
        opacity: 1;
    
    }    
}

main section:nth-child(1){
    animation-delay: 0;
}

main section:nth-child(2){
    animation-delay: .3s;
}

main section:nth-child(3){
    animation-delay: .5s;
}

main section{
    animation: Fromtop .7s .2s backwards;
}

section ul li:nth-child(1){
    animation: Fromtop .7s .2s backwards;
}

section ul li:nth-child(2){
    animation: Fromtop .7s .4s backwards;
}

section ul li:nth-child(3){
    animation: Fromtop .7s .6s backwards;
}
